#cover{
	background-color: #ff9412;
	display: block;
}
.name{
	margin-left: 210px;
	font-size: 20px;

}
body{
	background-color: #42f5c2 ;
}
#scores{
	float: right;
	margin-right: 500px;
	margin-top: -350px;
	font-size: 50px;

}
